<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ page_title }}</h5>
</div>
<div class="modal-body">
    <div class="card card-primary">
         <div class="alert alert-danger errors d-none" role="alert" >
       
        </div>
        <div class="alert alert-success success d-none" role="alert" >
       
        </div>
        <div class="card-body">
            <form id="clientForm">
                <div class="form-group">
                    {{ form_label(form.first_name) }}
                    {{ form_widget(form.first_name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.last_name) }}
                    {{ form_widget(form.last_name) }}
                </div>
                <div class="form-group">
                     {{ form_label(form.address) }}
                    {{ form_widget(form.address) }}
                </div>
                <div class="form-group">
                     {{ form_label(form.contact_no) }}
                    {{ form_widget(form.contact_no) }}
                </div>
                <div class="form-group">
                     {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"  name="action" >Submit</button>
                </div>

                {{ form_widget(form.branch) }}
                {{ form_widget(form.action) }}
                {{ form_widget(form.id) }}
            </form>
        </div>
    </div>
</div>


<script>
    
    var clientFormActionUrl = "{{ path('client_ajax_form_process')}}";

    $('.close-modal').unbind('click').bind('click',function(){
        $('.modal').modal('hide');
    });

    $('#clientForm').submit(function(e){
        e.preventDefault();
        _this = $(this);
        _this.find(':input[type=submit]').prop('disabled', true);
        var formData = $(this).serialize();
        $.ajax({
            url: clientFormActionUrl,
            data: formData, 
            type: "post",
            dataType: "JSON",
            success: function(r){
                if(r.success){
                    
                    if(typeof admission_form != 'undefined'){

                        $('#admission_form_client').val(r.client_id);
                        $('#admission_form_client_desc').val(r.client_name);
                        admission_form.get_client_pets();

                    } else {

                        if(typeof schedule_form != 'undefined'){
                            
                            $('#schedule_form_client').val(r.client_id);
                            $('#schedule_form_client_desc').val(r.client_name);                    
                            schedule_form.get_client_pets();
                        } else {

                            $('#invoice_form_client').val(r.client_id);
                            $('#invoice_form_client_desc').val(r.client_name);
                        }
                    }

                    $('.success').html(r.msg).removeClass('d-none');
                    $('.modal').modal('hide');

                } else {
                    $('.errors').html(r.msg).removeClass('d-none');

                      setTimeout(function() { 
                            $('.errors').html(r.msg).addClass('d-none');
                            _this.find(':input[type=submit]').prop('disabled', false);
                        }, 2000);

                }
            }
        });
    });
</script>