{% set userData = app.session.get('userData') %} 

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ page_title }}</h5>
</div>
<div class="modal-body">
    <div class="card card-primary">
         <div class="alert alert-danger errors d-none" role="alert" >
       
        </div>
        <div class="alert alert-success success d-none" role="alert" >
       
        </div>
        <div class="card-body">
            <form id="clientForm" enctype='multipart/form-data'>
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.species_desc) }}
                    {{ form_widget(form.species_desc) }}
                    {{ form_widget(form.species) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.breed_desc) }}
                    {{ form_widget(form.breed_desc) }}
                    {{ form_widget(form.breed) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.stage_desc) }}
                    {{ form_widget(form.stage_desc) }}
                    {{ form_widget(form.stage) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.birth_date) }}
                    {{ form_widget(form.birth_date) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.approximate_age) }}
                    {{ form_widget(form.approximate_age) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.gender) }}
                    {{ form_widget(form.gender) }}
                </div>
                <div class="form-check form-switch">
                    {{ form_widget(form.is_fixed) }}
                    {{ form_label(form.is_fixed) }}

                </div>
                <div class="form-group ">
                                    {{ form_label(form.fixed_date) }}
                    {{ form_widget(form.fixed_date) }}


                </div>
                <div class="form-check form-switch">
                    {{ form_widget(form.is_deceased) }}
                    {{ form_label(form.is_deceased) }}

                </div>
                   <div class="form-group ">
                                       {{ form_label(form.death_date) }}

                    {{ form_widget(form.death_date) }}

                </div>
                <div class="form-group">
                    {{ form_label(form.cause_of_death) }}
                    {{ form_widget(form.cause_of_death) }}
                </div>
                <div class="form-check form-switch">
                    {{ form_widget(form.has_cruel_file) }}
                    {{ form_label(form.has_cruel_file) }}

                </div>
                   {# <div class="form-group">
                    {{ form_label(form.beforeFile) }}
                    {{ form_widget(form.beforeFile) }}

                </div>
                  <div class="form-grouph">
                    {{ form_label(form.afterFile) }}
                    {{ form_widget(form.afterFile) }}
                </div> #}
                <div class="form-group">
                    {{ form_label(form.color_markings) }}
                    {{ form_widget(form.color_markings) }}
                </div>
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
                    {% if action == 'u' and (userData.type == 'Super Admin' or 'Client Delete' in userData.accesses) %}
                        <button type="submit" class="ask-continue btn  btn-danger" name="action" value="d"
                                data-message="Are you sure you want to delete this record?">Delete</button>
                    {% endif %}
                   <button type="submit" class="btn just-continue btn-primary" name="action" value="{{ action }}" data-message="Are you sure you want to save this information?">Submit</button>
                </div>

                {{ form_widget(form.branch) }}
                {{ form_widget(form.action) }}
                {{ form_widget(form.id) }}
                {{ form_widget(form._token) }}

            </form>
        </div>
    </div>
</div>


<script>
    
    var branchPetFormActionUrl = "{{ path('branch_pet_ajax_form_process')}}";
    var speciesAutocompleteUrl = "{{ path('species_autocomplete')}}";
    var breedAutocompleteUrl = "{{ path('breed_autocomplete')}}";
    var stageAutoCompleteUrl = "{{ path('stage_autocomplete')}}"

    
    global.init();
    global.autocomplete.bind(speciesAutocompleteUrl,'#branch_pet_form_species_desc','#branch_pet_form_species');
    global.autocomplete.bind(breedAutocompleteUrl,'#branch_pet_form_breed_desc','#branch_pet_form_breed');
    global.autocomplete.bind(stageAutoCompleteUrl,'#branch_pet_form_stage_desc','#branch_pet_form_stage');


    $('.close-modal').unbind('click').bind('click',function(){
        $('.modal').modal('hide');
    });

    $('#clientForm').submit(function(e){

        e.preventDefault();
        _this = $(this);
        _this.find(':input[type=submit]').prop('disabled', true);
       // var formData = $(this).serialize();
        var formData = new FormData(_this[0]);

        $.ajax({
            url: branchPetFormActionUrl,
            data: formData, 
            type: "post",
             cache: false,
            processData: false,
            contentType: false, 
            success: function(r){
                if(r.success){
                    
                    $('#shelter_admission_form_pet').val(r.pet_id);
                    $('#shelter_admission_form_pet_desc').val(r.pet_name);   
                    $.toaster({ message : r.msg, title : '', priority : 'success' });
                    $('.modal').modal('hide');

                    if(typeof shelter_admission_details  != 'undefined'){
                        shelter_admission_details.loadDetailsPart();
                    }

                } else {
                    $.toaster({ message : r.msg, title : '', priority : 'danger' });
                }
            }
        });
    });
</script>